/* Стили для героя */
.hero {
  background-color: var(--fon-color);
  color: var(--text-white);
}
.hero-title {
  font-weight: 900;
}
.hero-link {
  background-color: var(--logo-web);
  color: var(--text-white);
  font-weight: 700;
}
/* Стили для особенностей */
.priority-title {
  font-weight: 700;
}
.priority-par {
  font-weight: 400;
  color: var(--opis-text);
}
/* Стили для детельности */
.deal-title {
  font-weight: 700;
}
/* Стили для команды*/
.team-title {
  font-weight: 500;
}
.team-par {
  font-weight: 400;
  color: var(--opis-text);
}
