/* Стили для портфолио */
.btn {
  text-align: center;
}
.portfolio-btn {
  font-weight: 500;
  background-color: var(--btn-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--logo-web);
}
.portfolio-title {
  font-weight: 700;
}
.portfolio-par {
  font-weight: 400;
  color: var(--opis-text);
}
