/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО ДОКУМЕНТА */

/* применяем основное семейство шрифтов и цвет для всего документа и ссылок */
body,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text);
}

/* класс в логотипе header */
.header {
  color: var(--title-text);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-text);
}
.logo {
  color: var(--logo-web);
}
.current-link {
  color: var(--logo-web);
}
.link:hover,
.link:focus {
  color: var(--logo-web);
}
.link-tel {
  color: var(--opis-text);
}
/* класс в логотипе footer*/
.footer {
  background: var(--fon-color);
  color: var(--text-white);
}
.adress {
  font-weight: 400;
}
.footer-text {
  color: var(--footer-text);
  font-weight: 400;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--opis-text);
}
