/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО ДОКУМЕНТА */

/* применяем основное семейство шрифтов для всего документа и ссылок */
body,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text);
}

/* класс в логотипе header */
.header {
  color: var(--title-text);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--title-text);
}
.header-logo > span {
  color: var(--logo-web);
}
/* класс в логотипе footer*/
.footer {
  background: var(--fon-color);
  color: var(--text-white);
}
.footer-text {
  color: var(--text-white);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--text-white);
}
.footer-logo > span {
  color: var(--logo-web);
}
